<div class="container padding container_actions">
<div class="d-flex justify-content-between">
<div>
<button type="button" class="btn btn-outline-info" (click)='goBack()'>
<span class="fa fa-arrow-left"></span>
</button>
</div>
<div>
<div class="row">
<div class="col col-6">
<button type="button"
class="btn btn-outline-warning"
data-toggle="collapse"
data-target="#searchDiv"
aria-expanded="false"
aria-controls="searchDiv">
<span class="fa fa-filter"></span>
</button>
</div>
<div class="col col-6">
<button type="button" class="btn btn-outline-success" (click)='AddEntry()'>
<span class="fa fa-plus"></span>
</button>
</div>
</div>
</div>
</div>
</div>
<div id="searchDiv" class="collapse container search_criteria_section">
<form fxLayout='column' #searchform="ngForm">
<mat-form-field>
<input matInput placeholder="Name" type="text"  name="NAME" [(ngModel)]="searchModel.NAME"  />
</mat-form-field>
<mat-form-field>
<input matInput placeholder="Description" type="text"  name="DESCRIPTION" [(ngModel)]="searchModel.DESCRIPTION"  />
</mat-form-field>
<div class="row">
<div class='col col-md-12'>
<button [disabled]='!searchform.valid'  mat-raised-button color='primary' type="button" class="btn btn-outline-secondary btn-block" (click)='ClearAndFetch()'>Search</button>
</div>
</div>
</form>
</div>
<div class="container" (scrolled)="onScroll()"  infiniteScroll  [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300">
<div class='row'>
<div  *ngFor='let entry of data'>
<div class="row">
<div class="col col-lg-3">
<div class="container entry_section">
<form fxLayout='column' #f="ngForm">
<mat-form-field>
<input matInput placeholder="Name" type="text"  name="NAME" [(ngModel)]="entry.NAME" required /><mat-error>Name is required</mat-error>
</mat-form-field>
<mat-form-field>
<input matInput placeholder="Description" type="text"  name="DESCRIPTION" [(ngModel)]="entry.DESCRIPTION" required /><mat-error>Description is required</mat-error>
</mat-form-field>
<mat-form-field>
<mat-select placeholder="Category" [(value)]='entry.CATEGORY_ID'><mat-option>Choose</mat-option><mat-option *ngFor='let CategoryEntry of CategoryList' [value]='CategoryEntry.CATEGORY_ID'>{{CategoryEntry.NAME}}</mat-option></mat-select> 
</mat-form-field>
<mat-form-field>
<input matInput placeholder="Stock" type="number"  name="STOCK" [(ngModel)]="entry.STOCK" required /><mat-error>Stock is required</mat-error>
</mat-form-field>
<mat-form-field>
<input matInput placeholder="Full Price" type="number"  name="FULL_PRICE" [(ngModel)]="entry.FULL_PRICE" required /><mat-error>Full Price is required</mat-error>
</mat-form-field>
<mat-form-field>
<input matInput placeholder="Discount Price" type="number"  name="DISCOUNT_PRICE" [(ngModel)]="entry.DISCOUNT_PRICE" required /><mat-error>Discount Price is required</mat-error>
</mat-form-field>
<mat-checkbox color="primary"  name="IS_BEST_SELLING" [(ngModel)]="entry.IS_BEST_SELLING">Is Best Selling</mat-checkbox>
<mat-checkbox color="primary"  name="IS_RECOMMENDED" [(ngModel)]="entry.IS_RECOMMENDED">Is Recommended</mat-checkbox>
<div class="row">
<div class='col col-md-6'>
<button [disabled]='!f.valid' mat-raised-button color='primary' type="button" class="btn btn-outline-secondary btn-block" (click)='Edit(entry)'>Save</button>
</div>
<div class='col col-md-6'>
<button mat-raised-button color='warn' type="button" class="btn btn-outline-danger btn-block" (click)="Delete(entry)">Delete</button>
</div>
</div>
</form>
</div>
</div>
<div class='col col-lg-9'>
<mat-tab-group dynamicHeight="true" *ngIf='entry.PRODUCT_ID != -1'>
<mat-tab label="Images">
<image-upload *ngIf='entry.PRODUCT_ID != -1'
[url]="entry.MyURL"
[uploadedFiles]="entry.MyUploadedImages"
(removed)="onRemoved($event)"
(uploadFinished)="imageFinishedUploading($event)"
(uploadStateChanged)="onUploadStateChanged($event)">
</image-upload>
</mat-tab>
</mat-tab-group>
</div>
</div>
</div>
</div>
</div>
